.content {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
}

input {
  margin: 5px 0 5px 0;
}

.eye-icon {
  cursor: pointer;
}

span {
  color: gray;
  font-size: small;
}
